<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getAge()}">VALUE</p>
<div th:if="${listBooks.isEmpty()}">
    <p>Человека пока не взял ни одной книги</p>
</div>

<div th:unless="${listBooks.isEmpty()}">
    <h3>Список книг:</h3>
    <ul>
        <li th:each="book : ${listBooks}">
            <span th:text="${book}"></span>
        </li>
    </ul>

</div>


<form th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>