<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<a href="/books">Назад</a>
<br/>
<hr/>
<p>
    <strong>Название книги: </strong><span th:text="${book.bookname}">Book Name</span>
</p>
<p>
   <strong>Автор: </strong><span th:text="${book.getAuthor()}">Author</span>
</p>
<p>
    <strong>Год издания: </strong><span th:text="${book.getYear()}">Author</span>
</p>


<form th:method="PATCH" th:if="${book.getPersonid()}" th:action="@{/books/{id}/clear(id=${book.getBookId()})}">
    <p>
        <strong>Книга сейчас находится у: </strong><span th:text="${person.getFullName()}">B</span>
    </p>
    <input type="submit" value="Освободить книгу">
</form>

<div th:unless="${book.getPersonid()}">
    <form th:object="${personM}" th:method="PATCH" th:action="@{{id}/addOwner(id=${book.getBookId()})}">
        <label for="person">Выберите человека</label>
        <select th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getFullName()}"></option>
        </select>
        <button type="submit">Отдать книгу</button>
    </form>
</div>



<hr/>
<form th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input style="color: darkred" type="submit" value="Удалить">
</form>

<br/>
<hr/>

<a href="/">Главная</a>


</body>
</html>